.infoText {
    width: 50%;
}

.query-result-container {
    display: flex;
}

.card {
    width: 18rem;
    margin:15px;
    border: gray 0.1em
}

.card:hover {
    cursor: pointer;
}

.card:img {
    justify-content: center;
}