html,
body {
  min-height: 100%;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  margin: 20px 10px;
}

.content {
  margin: 50px;
}

.home {
  display: flex;
  justify-content: center;
}

.imgContainer {
  position: relative;
}

.leftButton {
  max-width: 50px;
  left: 0;
}
.rightButton {
  max-width: 50px;
  right: 0;
}

.arrowButton {
  position: absolute;
  padding: 10px;
  bottom: 50%;
}

.arrowButton:hover {
  background-color: gray;
  cursor: pointer;
}

.phrase {
  position: absolute;
  bottom: 90px;
  right: 320px;
  font-style: italic;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgreen;
  color: white;
  text-align: center;
}
