::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #94c22d;
}

header {
  display: flex;
  height: 100px;
}


section {
  min-height: 100vh;
}

.content {
  border-top: 1px #94c22d;
  margin: 50px;
}

.content button {
  color: #94c22d !important;
}

.content button.active {
  color: gray !important
}

.second {
  padding-top: 120px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.singlePage section{
  margin:50px;
}

.twoColumns {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.bottomSection {
  margin-top: 0px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
}

.right {
  display: flex;
  width: 50%;
  margin-left: 150px;
  align-items: center;
  align-content: center;
}

.text {
  margin-top: 10px;
}

.labels {
  font-weight: bold;
}

.quotes {
  font-family: adobe-garamond-pro, serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #343434;
}

img {
  border-radius: 1%;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow:hover {
  cursor: pointer;
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
}
