html,
body {
  min-height: 100%;
  margin: 0;
}

/* .box {
  display: flex;
  flex-flow: column;
} */

.header {
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin:50px;
}

.content {
  margin:50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgreen;
  color: white;
  text-align: center;
}

/* .placeholder-text {
  color: white;
  font-size: x-large;
}

.placeholder-text:hover {
  color: darkolivegreen;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

#content-extra {
  min-height: 98vh !important;
  margin-top: 25px;
}

.page-container {
  background-image: url("BackgroundImage.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 97vh;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
  width: 60%;
}

.query-box {
  display: flex;
  align-items: center;
}

.form-box {
  margin-top: 10px;
  margin-left: 10px;
}

#submit-btn {
  margin-top: 20px;
}

#section-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.section {
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.images-container {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.img {
  height: 260px;
  margin-right: 10px;
  width: 30%;
  background-color: black;
} */

